body {
  height: 200%;
  background-color: aqua;
}

.head {
  height: 20%;
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
  color: blue;
}

#desc {
  height: 150px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 0.15em;
  text-align: center;
}


.asklen {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 20px;
  height: 10%;
  width: 100%;
}

.slidebar {
  display: flex;
}
.slider {
  text-align: center;
  font-size: 15px;
  height: 5%;
  width: 90%;
  display: flex;
}
.slider.large {
  text-align: center;
  font-size: 15px;
  height: 5%;
  width: 98%;
  display: flex;
}
.count {
  width: 10%;
  text-align: center;
  font-size: 20px;
  color: red;
}

.count.small {
  width: 2%;
  text-align: center;
  font-size: 20px;
  color: red;
}

.charac {
  font-size: xx-large;
  font-size: 20px;
  height: 20%;
  margin-bottom: 3%;
  margin-top: 3%;
  text-align: left;
  color: black;
}

.options {
  height: 40%;
}
.options.small{
  display: table-cell;
  width: 50vw;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  height: 40%;
}
.genrate.small{
  width: 50vw;
  display: table;
  position: relative;
}

.opt {
  justify-content: center;
  display: flex;
  height: auto;
  width: auto;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.box {
  display: block;
  color: blue;
  width: 20px;
  height: 20px;
  stroke: blue;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  border-color: blue;
  border-style: groove;
  content: "";
  background:blue;
  
}
#myInput {
  height: 30px;
  width: 70%;
  border: gold;
  border-color: gold;
  border-style: groove;
  border-radius: 10px;
  color: red;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;
  font-size: 20px;
}


.copy {
  height: 30px;
  width: auto;
  position: relative;
  border-style: groove;
  border-radius: 6px;
  border-color: green;
  font-size: 15px;
  margin: 3px 3px 3px 3px;
}

.gene {
  justify-content: center;
  display: flex;
}
.gen {
  justify-content: center;
  height: 40px;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  color: indigo;
  border-radius: 6px;
  border-style: groove;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.items.small{
  display:table-row;
  width: 100vw;
}

/* @media screen and (max-width:600px) {
  .asklen{
    width: 100;
  }
} */
